@import 'variables.scss';

@media screen and (max-width: 991px) {
    /* ipad, tablets */

    .carousel {
        .list .item {
            width: 90%;
        }

        &.showDetail .list .item:nth-child(2) .detail {
            .specifications {
                overflow: auto;
            }

            .title {
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    /* mobile */

    .carousel {
        height: 600px;

        .list {
            .item {
                width: 100%;
                font-size: 10px;

                &:nth-child(2) .introduce {
                    width: 50%;
                }

                img {
                    width: 40%;
                }
            }

            height: 100%;
        }

        &.showDetail .list .item:nth-child(2) .detail {
            backdrop-filter: blur(10px);
            font-size: small;
        }

        .list .item:nth-child(2) .introduce .des {
            height: 100px;
            overflow: auto;
        }

        &.showDetail .list .item:nth-child(2) .detail {
            .des {
                height: 100px;
                overflow: auto;
            }

            .checkout {
                display: flex;
                width: max-content;
                float: right;
            }
        }
    }
}