/* COLORS */
$transparent: transparent;
$first: #e0aaff;
$second: #5a189a;
$third: #490081;
$fourth: #ffffff;
$fifth: #808080;
$sixth: #3c096c;
$seventh: #eee;
$eighth: #9c29f4;
$ninth: #c77dff;
$tenth: #10002b;
$eleventh: #DC422A;
$twelfth: #0000ff;
$thirteenth: #7a2cbfd3;